@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Web Application</h1>
    <p class="lead">My little web application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>Get me going!!</p>        
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>Implement <code>interface IGamingMachine</code></p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>What can I do better?</p>        
    </div>
</div>